---

import MainLayout from '../layouts/MainLayout.astro';
import PlaceCard from '../components/PlaceCard.astro'

---

<MainLayout>
	<h1 class="text-3xl font-extrabold text-cyan-600">Lugares</h1>
	<div class="grid grid-cols-3 gap-4 mt-4">
		<PlaceCard/>
		<PlaceCard/>
		<PlaceCard/>
		<PlaceCard/>
		<PlaceCard/>
	</div>
</MainLayout>
